@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Zalando Italic";
  src: url("src/assets/ZalandoSansExpanded-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Sans";
  src: url("src/assets/ZalandoSansExpanded-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Expanded Black";
  src: url("src/assets/static/ZalandoSansExpanded-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Expanded Black Italic";
  src: url("src/assets/static/ZalandoSansExpanded-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Expanded Bold";
  src: url("src/assets/static/ZalandoSansExpanded-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Expanded Bold Italic";
  src: url("src/assets/static/ZalandoSansExpanded-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Expanded Extra Bold";
  src: url("src/assets/static/ZalandoSansExpanded-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Zalando Expanded Extra Bold Italic";
  src: url("src/assets/static/ZalandoSansExpanded-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
